@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: 1100px;
}



@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}


@media (max-width: 767px) {
    .container {
        max-width: 700px;
    }
}





/* Часть выше хедера */

.up-sec {
    background-color: black;
    color: grey;
    width: 100%;
    height: 50px;
    font-size: 90%;

}

.up-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 50px;
    width: 100%;
}

.up-info {
    width: 37%;
    height: 100%;
}



.up-job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

.up-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    height: 100%;
}

.up-log img {
    height: auto;
    width: 15%;
}

/* header */

.header {
    background: #0F0F0F;
    height: 80px;
    width: 100%;
    color: white;
}


.sec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.logo {
    font-family: 'Post No Bills Jaffna';
    font-size: 36px;
    font-weight: 700;
    width: 15%;
}

.nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 60%;
}

.buttons {
    height: 100%;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    display: flex;
    justify-content: center;
}

.buttons h1 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
}

.buttons:hover {
    background: #1F1F1F;
    cursor: pointer;
}

@media (max-width: 607px) {

    .up-job,
    .up-log {
        font-size: 7px;
    }

    .col-title1 {
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
    }

    .nav-btns {
        font-size: 8px;
    }

    .buttons h1 {
        font-size: 8px;
    }

    .buttons {
        font-size: 8px;
    }
}

/* intro */

.intro {
    background-image: url('../images/itro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 810px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_intro {
    border: 4px solid white;
    width: 70%;
    height: 320px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.logo_txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid white;
    line-height: 40px;

}

.int_log {
    height: 86px;
    width: 70%;
}

.intro_txt {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
}

/* next section (seasons) */



.seasons {
    width: 100%;
    background: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
}



.bl_right {
    background-image: url('../images/coll.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.line {
    width: 20%;
    height: 1px;
    background-color: white;
    margin: 5% auto;
}



.bl_left,
.bl_right {
    height: 100%;
    width: 50%;
    text-align: center;
}

.title_seas {
    font-family: 'Playfair Display', serif;
    padding-top: 2%;
}

/* block left  */

.time-img {
    width: 100%;
    height: 250px;
    background: #191B1C;
    display: flex;
    align-content: center;
    justify-content: center;
}



.time-watch {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    text-align: left;
}

.block_watch {
    height: 100%;
    width: 25%;

}

.watch_img {
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.info-pr {
    height: 10%;
    width: 100%;
}

.info-pr p {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    padding-top: 5%;
}




/* block right */

.col-title {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

.bl_right {
    height: 500px;
    /* margin-top: 5%; */
}

.button-catalog {
    border: 1px solid white;
    height: 47px;
    width: 138px;
    padding: 12px 28px 12px 28px;
    margin: auto;

    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.button-catalog:hover {
    background: rgba(31, 31, 31, 0.502);
    cursor: pointer;
}

.left-inner {
    padding-top: 30%;
}

@media (max-width:650px){
    .seasons {
        display: block;
    }

    .left-inner{
        padding-top: 0%;
    }

    .col-title{
        font-size: 20px;
    }
    
    .time-img{
        height: auto;
    }
    
    .info-pr p{
        font-size: 10px;
    }

    .bl_left,
    .bl_right{
        width: 100%;
        height: 100%;
    }
}

/* collections */

.info-call .line {
    margin: 5% auto;
}

.new-call {
    display: flex;
    width: 100%;
    height: 600px;
}



.left-call {
    background-image: url('../images/greyback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 100%;
}

.right-call {
    width: 55%;
    height: 100%;
    background-color: #000000;
    color: white;
}

.info-call {
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-title1 {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.button-coll {
    border: 1px solid white;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5% auto;

    padding: 1%;
    font-size: 18px;
    text-transform: uppercase;
}

@media (max-width:1000px) {
    .new-call{
        display: flex;
        flex-direction: column;
    }
    .left-call{
        width: 100%;
    }

    .right-call{
        width: 100%;
    }
}

/* new products */

.new-prts {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 10%;
}

.img-pr {
    background-color: #191B1C;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPrr {
    width: 100%;
    height: auto;
}

.bl_pr {
    width: 20%;
    height: 100%;
    color: white;
    text-align: left;
}

.product-str {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 10%;
}

@media (max-width: 767px) {
    .product-str {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .img-pr{
        height: 100px;
    }
}




/* BRANDS */

.brands {
    text-align: center;
    color: white;
    width: 100%;
    height: 30%;
    background: #0F0F0F;

}

.brand-inner {
    padding-top: 5%;
    padding-bottom: 5%;
}

.brands-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.logoFine{
    width: 100%;
    height: auto;
}

.logo-brand {
    height: 95px;
    width: 25%;
}


/* footer */

.footer {
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 400px;
    width: 100%;
}



.footer .col-title{
    font-size: 25px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 5%;
}

.foot-us {
    height: 100%;
    width: 30%;
    text-align: left;
    margin-top: 20%;
}

.foot-sup-us {
    padding-top: 15%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

/* foot cat */

.foot_cat {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-foot {
    background-color: #0F0F0F;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 4% 5%;

}

.btns-foot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 15%;
}

.bl-fot1,
.bl-fot2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5% 0 0 0;
}


.btns-foot a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}


/* foot email */

.foot_email {
    height: 100%;
    width: 30%;
}

.foot-inf {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.input-foot {
    width: 80%;
    height: 5vh;
    color: white;
    background-color: rgba(255, 255, 255, 0.503);
    border: 0;
}

.button-foot {
    background: #0F0F0F;
    color: white;
    width: 30%;
    font-size: 10px;
    height: 5vh;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.foot-sup-us {
    padding-top: 15%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

@media (max-width: 620px) {
    .footer .col-title{
        font-size: 18px;
    }

    .button-foot{
        font-size:6px;
        height: auto;
        align-items: center;
        margin: 1%;
    }

    .foot-inf{
        width: 90%;
        height: auto;
        
    }

    .bl-fot1,
    .bl-fot2{
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

}

@media (max-width: 767px) {
    .foot-sup-us{
        font-size: 12px;
    }

    

    .col-title{
        font-size: 18px;
    } 
}

@media (max-width:591px) {
    .button-foot{
        font-size: 3px;
    }

    .footer .col-title{
        font-size: 15px;
    }
    
}

