*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


.container,
.container_header {
    max-width: 1200px;
    margin: auto;

}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/******************************** Scrollbar *********************************/

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(101, 109, 166, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #013A4C;
    border-radius: 12px;
    padding: 1rem;
    border: 0.5px solid white;
}

body {
    scrollbar-color: #013A4C rgba(0, 0, 0, 0.1);
    scrollbar-width: 5px;
}


/************************************ Header *********************************/

.header {
    height: 80px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
}

.header_inner {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #013A4C;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    color: #013A4C;
    font-weight: 500;
    font-size: 16px;
    width: 31rem;
}

.btn_demo {
    height: 40px;
    width: 6.5rem;
    background-color: #FFD063;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #013A4C;
    border: 1px solid #FFD063;
}

.btn_demo:hover,
.btn_log:hover {
    cursor: pointer;
}

.btn_log {
    height: 40px;
    width: 4.5rem;
    background-color: #fff;
    border: 1px solid #346170;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 500;
    color: #013A4C;
}

/***************************** Intro ********************************/

.intro {
    height: 800px;
    width: 100%;
    position: relative;


    background-image: url('../img/background_intro.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.intro_inner {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.intro_title {
    font-size: 76px;
    font-weight: 400;
    color: #013A4C;

    margin-bottom: 2rem;
}

.intro_txt {
    font-size: 24px;
    line-height: 32px;
    color: #013A4C;
    margin-bottom: 2rem;
}

.intro_get {
    background-color: #FFD063;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #FFD063;

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;

}

.intro_tour {
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    background-color: #013A4C;
    color: white;
    border: 1px solid #013A4C;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;

    margin-left: 0.5rem;
}

/*********************************** second section(company) **********************************/

.second {
    background-color: #013A4C;
    width: 100%;
    height: 100%;
}


.second_inner {
    width: 100%;
    height: 100%;
    color: white;
    padding-bottom: 5rem;
}

.company_title {
    font-size: 25px;
    font-weight: 400;
    padding-top: 3rem;
    text-align: center;
}

.company_logos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/************************************ Section Turn ******************************************/

.sec_turn {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turn_title {
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
}

.turn_sup {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.turn_txt {
    width: 45%;
}

.turn_our {
    background-color: #FFD063;
    border: 1px solid #FFD063;
    height: 50px;
    width: 200px;
    border-radius: 4px;

    font-size: 16px;
    color: #013A4C;
    font-weight: 500;
}

/******************************** second Table ************************************/

.second_table {
    background: #D3E8F4;
    border-radius: 8px;
    height: 600px;
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.string_fir{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #013A4C;
}

.table_icons{
    width: 80%;
    color: #013A4C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
}

.two_txt{
    width: 56%;
    height: 100%;
    padding-top: 3rem;
    padding-left: 7.5rem;
}

.table_create,.table_coll,.table_sign,.table_manage,.table_a,.table_int{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.str_two{
    color: #013A4C;
    height: 480px;
    display: flex;
    justify-content: space-between;
}

.two_title{
    font-size: 55px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 1rem;
}

.two_text{
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 2rem;
    
}

.l_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.l_item p{
    margin-left: 0.5rem;
}

.two_btn{
    background-color: #D3E8F4;
    border: 1px solid #346170;
    border-radius: 4px;

    width: 120px;
    height: 40px;

    font-size: 14px;
    font-weight: 500;
    margin-top: 2rem;

    cursor: pointer;
}

.two_img{
    padding-top: 4rem;
}

/******************* Three *****************/

.three{
    height: 2000px;
    width: 100%;
    background-image: url('../img/bb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #013A4C;
}


.bl_btn {
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    background-color: #013A4C;
    color: white;
    border: 1px solid #013A4C;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}


.three_title{
    font-size: 80px;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bl_title{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.bl_txt{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 1rem;
}

.bl_three{
    width: 40%;
    padding-bottom: 10rem;
    margin-left: auto;
    margin-right: 0;
}

.bl_three1{
    width: 40%;
    padding-bottom: 5rem;
    
}

.bl_three:nth-child(3){
    margin-right: auto;
    margin-left: 0;
}

/************************ Four *******************/

.four{
    background-image: url('../img/backgorund_3.svg');
    height: 900px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.four_title{
    font-size: 73px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #F2DCE4;
}

.four_txt{
    font-size: 26px;
    line-height: 32px;
    /* width: 40%; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.four_inner{
    height: 900px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/******************** five *********************/


.five_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: #013A4C;
}

.five_title{
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    margin-bottom: 2rem;
}

.five_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.five_txt{
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 2rem;
}

.btn_view{
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    background-color:#FFD063;
    color: #013A4C;
    border: 1px solid #FFD063;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

/*************** Six *************/

.line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.line2{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.six_title{
    font-size: 48px;
    font-weight: 700;
    color: #013A4C;
}

.btn_visit{
    font-size: 16px;
    font-weight: 500;
    text-align: center;

    background-color:#FFD063;
    color: #013A4C;
    border: 1px solid #FFD063;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.six_bl{
    height: 500px;
    width: 100%;
    background-color: #F2DCE4;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.six_bl_title{
    font-size: 48px;
    line-height: 54px;
    color: #013A4C;
    padding-bottom: 8rem;
}

.article{
    background: #B73D8B;
    width: 50px;
    height: 20px;
    font-size: 11px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 3rem;
}

.six_text{
    padding-left: 4rem;
}

.six{
    margin-bottom: 3rem;
}

/********* line block - 1 **********/


.line_bl1{
    background-color: #013A4C;
    height: 450px;
    width: 30%;
    overflow: hidden;
    color: white;
    border-radius: 12px;
}

.btn_guide1{
    background-color: #F2DCE4;
    color: #013A4C;
    width: 50px;
    height: 20px;
    border: 1px solid #F2DCE4;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.bl1_title{
   font-size: 24px;
   line-height: 32px;
   font-weight: 400; 
}

.bl1_text{
    padding-left: 1rem;
}

.bl1_text p{
    font-size: 11px;
    font-weight: 400;
    margin-top: 6rem;
}

/************** line block - 2 ***********/

.line_bl2{
    width: 30%;
    height: 450px;
    background-color: #0F5987;
    color: white;
    text-align: center;
    border-radius: 12px;
}

.custom_story{
    height: 35px;
    width: 120px;
    color: white;
    background-color: #187BB7;
    font-size: 13px;
    margin: 2rem auto ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.line2_title{
    font-size: 40px;
    font-weight: 400;
    margin-top: 6rem;
}

.btn_read_story{
    width: 140px;
    height: 40px;
    background-color: #0F5987;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    text-align: center;
    margin-top: 7rem;
}

/************** line block - 3 ***********/

.line_bl3{
    width: 30%;
    height: 450px;
    background-color: #F2DCE4;
    overflow: hidden;
    color: #013A4C;
    border-radius: 12px;
}

.bl3_title{
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.bl3_text{
    padding-left: 1rem;
}

.bl3_text .article{
    margin-top: 1rem;
}

/**************** footer ****************/

.footer{
    height: 440px;
    width: 100%;
    background-color: #013A4C;
    color: white;
}

.col1{
    height: 100%;
    padding-top: 2rem;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    
}



.footer_inner{
    padding-top: 5rem;
}

.footer_inner a{
    color: #99B0B7;
}

.foot_info{
    font-size: 14px;
    font-weight: 400;
    margin-top: 3rem;
}





.col1,.col2,.col3,.col4,.col5{
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.line{
    width: 100%;
    height: 3px;
    background: #346170;
    margin-top: 6rem;
}

.und{
    text-align: center;
    padding-top: 1rem;
}

